In [3]:
a=3
b=5
print(a+b)
print(a-b)
print(a*b)

8
-2
15

In [4]:
a = 4
b = 3
print(a//b)
print(a/b)

1
1.3333333333333333

In [5]:
for i in range(0,5):
    i= i*i
    print(i)
    i+=1

0
1
4
9
16

In [9]:
#item = [0,1,2,3,4]
n = int(input("Enter the range of numbers : "))
square = list(map(lambda i:i**2, range(0,n)))
print(square)

Enter the range of numbers : 5
[0, 1, 4, 9, 16]

In [7]:
def is_leap(year):
    if year//4 == 0:
        print("True")
    else:
        print("False")

In [10]:
def is_leap(year):
    if year % 4 == 0:
        print("True")
    else:
        print("False")

In [11]:
is_leap(1990)

False

In [40]:
def is_leap(year):
    leap = False
    
    if (year % 4 == 0):
        leap = True
    elif(year % 100 == 0):
            leap = False
    elif(year % 400 == 0):
                leap = True
    return leap

year = int(input())
print(is_leap(year))

1992
True

In [28]:
a=2
b=4
a//b

0

In [42]:
from __future__ import print_function
if __name__ == '__main__':
    n = int(3)
    
    for i in range (1,n+1):
        print(i, end="")

123

In [ ]:
from __future__ import print_function
if __name__ == '__main__':
    n = int(input())
    for i in range (1,n+1):
        print(i, end="")

In [1]:
s="Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [5]:
# for certain format use triple quotes{para}

a='''Twinkle, twinkle, little star,
             How I wonder what you are! 
                    Up above the world so high, 
                    Like a diamond in the sky. 
Twinkle, twinkle, little star, 
         How I wonder what you are'''

In [6]:
print(a)

Twinkle, twinkle, little star,
             How I wonder what you are!
                    Up above the world so high,
                    Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are

In [14]:
import math
r=float(input("enter the value"))
area=float(math.pi * r**2)
print(area)

enter the value1.1
3.8013271108436504

In [18]:
fname=input("enter your first name ")
lname=input("enter your last name ")
print(lname,fname)

enter your first name utkarsha
enter your last name narhede
narhede utkarsha

In [27]:
data=input('enter values with comma')
a = data.split(',')
a
t = tuple(a)
print(a)
print(t)

enter values with comma12,13,14,15
['12', '13', '14', '15']
('12', '13', '14', '15')

In [30]:
data=input("enter values ")

enter values 3, 5, 7, 23

In [31]:
a=data.split(",")
a

['3', ' 5', ' 7', ' 23']

In [32]:
t=tuple(a)
t

('3', ' 5', ' 7', ' 23')

In [35]:
file=input("enter the name of file  ")
f=file.split(".")
print(f[1])

enter the name of file  abc.java
java

In [39]:
l = ["Red","Green","White" ,"Black"]
print(l[0],l[3])

Red Black

In [75]:
d=int(input("enter date dd"))
m=int(input("enter month mm"))
y=int(input("enter year yyyy"))

print("The exam will start from: {}/{}/{}".format(d,m,y))

enter date dd11
enter month mm12
enter year yyyy2020
The exam will start from: 11/12/2020

In [70]:
n = int(input('enter a number : '))
n1 = int("%s"%n)

n2 = int('%s%s'%(n,n))
n3 = int('%s%s%s'%(n,n,n))
add = n1+n2+n3
print(add)

enter a number : 5
615

In [71]:
a=int(input('enter a number : '))
b=int(input('enter a number : '))
c=int(input('enter a number : '))
a1=int("%s"%a)
b1=int("%s%s"%(a,b))
c1=int("%s%s%s"%(a,b,c))
add= a1+b1+c1
print(add)

enter a number : 1
enter a number : 2
enter a number : 3
136

In [78]:
print(abs.__doc__)

Return the absolute value of the argument.

In [100]:
import calendar
year = int(input('enter the year yyyy : '))
month = int(input('enter the month mm : '))

print('\n')
print(calendar.month(year,month))

enter the year yyyy : 2022
enter the month mm : 1


    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [101]:
print('''a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example''')

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [104]:
from datetime import date
fdate=date(2014,7,2)
ldate=date(2014,7,11)
a=ldate-fdate
print('{} days'.format(a.days))

9 days

In [1]:
import math
r=float(input("enter the value: "))
area=float((4/3)*math.pi*r**3)
print(area)

enter the value: 6
904.7786842338603

In [13]:
str1 = "my isname isisis jameis isis bond";
str1.count("is")

7

In [9]:
str1 = 'Welcome'
print(str1+" "+ "PYnative")

Welcome PYnative

In [10]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

In [19]:
ascii('char')

"'char'"

In [15]:
chr(66)

'B'

In [17]:
ord('c')

99

In [14]:
ascii("number")

"'number'"

In [20]:
print("John" > "Jhon")
print("Emma" < "Emm")

True
False

In [16]:
str1 = "My salary is 7000";
str2 = "7000"

print(str1.isdigit())
print(str2.isdigit())

False
True

In [17]:
myString = "pynative"
stringList = ["abc", "pynative", "xyz"]

print(stringList[1] == myString)
print(stringList[1] is myString)

True
True

In [18]:
str = "My salary is 7000";
print(str.isalnum())

False

In [20]:
str = "my name is James bond";
print (str.capitalize())

My name is james bond

In [4]:
def ran_check(num,low,high):
    for i in range(low,high+1):
        if num==i:
            print('Number is within the range')
            break
    else :
            print('Number is out of range')

In [5]:
ran_check(56,50,100)

Number is within the range
Number is out of range

In [6]:

def recur_sum(n):
    if n <= 1:
        return n
    else:
        return n + recur_sum(n-1)

# change this value for a different result
num = 16

if num < 0:
    print("Enter a positive number")
else:
    print("The sum is",recur_sum(num))

The sum is 136

In [7]:
def findSum(n):
    if n<=1:
        return n
    else:
        return n + findSum(n-1)

In [8]:
findSum(10)

55

In [16]:
def funct(name,age):
    print(name,":",age,"yrs")

In [17]:
funct("utk",24)

utk : 24 yrs

In [28]:
def em(name,salary=9000):
    print("{}'s salary is: {}".format(name,salary))

In [29]:
em("pushkar",20000)

pushkar's salary is: 20000

In [30]:
em("prachi")

prachi's salary is: 9000

In [1]:
def add(a,b):
    c=a+b
    print("addition of {} and {} is: {}".format(a,b,c))

In [2]:
add(4,8)

addition of 4 and 8 is: 12

In [6]:
def table(n,i):
    print(n*i,end=" ")
    n*i
    i+=1
    if i<11:
        table(n,i)

In [7]:
table(24,1)

24 48 72 96 120 144 168 192 216 240

In [8]:
def area(l,b):
    a=l*b
    print("area of rectangle is: ",a)

In [10]:
area(8,9)

area of rectangle is:  72

In [18]:
def area_circle(rad):
    a = 3.14 * rad**2
    b= 2 * 3.14 * rad
    print("area of circle= ",a)
    print("circumference of circle= ",b)

In [19]:
area_circle(8)

area of circle=  200.96
circumference of circle=  50.24

In [24]:
def power(a,b):
    pow=a**b
    print("power of {} and {} = {}".format(a,b,pow))

In [25]:
power(2,3)

power of 2 and 3 = 8

In [27]:
def vote(age):
    if age>=18:
        print("you can vote")
    else:
        print("your age is not valid")

In [28]:
vote(19)

you can vote

In [40]:
def even(n):
    if n%2==0:
        print("even")
    else:
        n%2!=0
        print("prime")

In [41]:
even(4)

even

In [42]:
even(9)

prime

In [1]:
def calc(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    print("addition of {} and {}= {}".format(a,b,add))
    print("substration of {} and {}= {}".format(a,b,sub))
    print("multiplication of {} and {}= {}".format(a,b,mul))

In [3]:
calc(4,2)

addition of 4 and 2= 6
substration of 4 and 2= 2
multiplication of 4 and 2= 8

In [6]:
st="1234abcd"
st2=st[::-1]
print(st2)

dcba4321

In [ ]:
username = input("Enter Username :")
if username in database.keys():
    print("User Exist")
    password = int(input("Enter password :"))
    if database[username] == password:
        print("Welcome ",username)
    else:
        print("Invalid Password")
else:
    print("User not exist")

In [1]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
database

{'ram': 1234, 'raghu': 5678, 'kanav': 1357}

In [3]:
username = input("Enter Username :")
if username in database.keys():
    print("User Exist")
    password = int(input("Enter password :"))
    if database[username] == password:
        print("Welcome ",username)
    else:
        print("Invalid Password")
else:
    print("User not exist")
    print("Do you want to add into the database [Y|N]")
    yn = input()
    if yn == "Y":
        new_password = int(input("Enter new password : "))
        database[username]=new_password
        print("User added successfully")
    else:
        print("Thank you")

Enter Username :ups
User not exist
Do you want to add into the database [Y|N]
2798
Thank you