In [ ]:
n1=5.5214
n2=7.9531
sum=n1+n2
nsqrt=':.2f'.format()
print("Sum of {0} and {1} is {2}".format(n1,n2,sum))
print(round(sum,2))

a=float(input("Enter 1st side: "))
b=float(input("Enter 2nd side: "))
c=float(input("Enter 3rd side: "))
#semiperimeter
s=(a+b+c)/2
sa=(s*(s-a)*(s-b)*(s-c))**0.5
print(sa)
print("The area of the triangle is %0.2f"%sa)

Sum of 5.5214 and 7.9531 is 13.474499999999999
13.47
Enter 1st side: 12
Enter 2nd side: 15.5
Enter 3rd side: 13.5
78.09449404407458
The area of the triangle is 78.09

In [ ]:
x=int(input("Enter value of x: "))
y=int(input("Enter value of y: "))
temp=x
x=y
y=temp
print("Value of x after swapping: {}".format(x))
print("Value of y after swapping: {}".format(y))

Enter value of x: 10
Enter value of y: 5
Value of x after swapping: 5
Value of y after swapping: 10

In [ ]:
import random
print(random.randint(10,19))

km=float(input("Enter kilometers value: "))
conversion_factor=0.621371
miles=km*conversion_factor
print("%0.2f of kilometers is equal to %0.2f of miles"%(km,miles))

18
Enter kilometers value: 50.5
50.50 of kilometers is equal to 31.38 of miles

In [ ]:
celsius=float(input("Enter the temperature in Celsius: "))
fahrenheit=celsius*(9/5)+32
print('%0.2f degree celcius is equals to %0.2f degree Fahrenheit'%(celsius,fahrenheit))

Enter the temperature in Celsius: 35.8
35.80 degree celcius is equals to 96.44 degree Fahrenheit

In [ ]:
num=int(input("Enter a number: "))
if num%2!=0:
  print(num,"is odd number")
else:
  print("{0} is even".format(num))

Enter a number: 20
20 is even

In [ ]:
year=int(input("Enter a year: "))
if year%400==0 and year%100==0:
  print("{0} is a leap year".format(year))
elif year%4==0 and year%100!=0:
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

In [ ]:
n1=int(input("Enter a number: "))
n2=int(input("Enter a number: "))
n3=int(input("Enter a number: "))
if n1>=n2 and n1>=n3:
  print("{0} is the largest".format(n1))
elif n2>=n3 and n2>=n3:
  print("{0} is the largest".format(n2))
else:
  print("{0} is the largest".format(n3))

Enter a number: 12
Enter a number: 13
Enter a number: 15
15 is the largest

In [ ]:
num=int(input("Enter a number: "))
flag = False
if num>1:
  for i in range(2,num):
    if (num%i==0):
      flag=True
      break
if flag:
  print("{0} is not a prime number".format(num))
else:
  print("{0} is a prime number".format(num))

Enter a number: 6
6 is not a prime number

In [ ]:
#Program for prime numbers
l=int(input("Enter lower value: "))
u=int(input("Enter upper value: "))
for n in range(l,u+1):
  if n>1:
    for i in range(2,n):
      if n%i==0:
        break
    else:
      print(n)

Enter lower value: 0
Enter upper value: 20
2
3
5
7
11
13
17
19

In [ ]:
#Factorial of a number
n=int(input("Enter a number to get its factorial: "))
factorial=1
if n<0:
  print("Negative numbers don't have factorials")
elif n==0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,n+1):
    factorial=factorial*i
  print("Factorial of",n,"is",factorial)

Enter a number to get its factorial: 4
Factorial of 4 is 24

In [ ]:
#Multiplication Table
n=int(input("Enter a number: "))
for i in range(1,11):
  print(n*i)

Enter a number: 12
12
24
36
48
60
72
84
96
108
120

In [ ]:
#Fibonacci Series
n=int(input("Enter a number: "))
n1=0
n2=1
count=0
if n<=0:
  print("Sorry, negative digits doesn't have Fibonacci series")
elif n==1:
  print("Fibonacci Series of 1 is: ",n1)
else:
  print("Fibonacci Series of {0} terms is".format(n))
  while count<n:
    print(n1,end=" ")
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

Enter a number: 10
Fibonacci Series of 10 terms is
0 1 1 2 3 5 8 13 21 34

In [ ]:
#Armstrong Number
n=int(input("Enter a number: "))
sum=0
temp=n
while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10
if n==sum:
  print("{0} is an Armstrong Number".format(n))
else:
  print("{0} is not an Armstrong Number".format(n))

Enter a number: 153
153 is an Armstrong Number

In [ ]:
#Armstrong Number for an interval
l=100
u=2000
for num in range(l,u+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10
  if num==sum:
    print(num)

153
370
371
407
1634

In [ ]:
#sum of first n natural number
n=int(input("Enter a number: "))
if n<0:
  print("Negative numbers are not natural numbers")
else:
  sum=0
  while n>0:
    sum=sum+n
    n=n-1
  print("Sum of natural numbers is",sum)

Enter a number: 100
Sum of natural numbers is 5050

In [ ]:
terms=10
result=list(map(lambda x: 2**x, range(terms)))
print("Total terms are: ",terms)
for i in range(terms):
  print("2 raise to power",i,"is",result[i])

Total terms are:  10
2 raise to power 0 is 1
2 raise to power 1 is 2
2 raise to power 2 is 4
2 raise to power 3 is 8
2 raise to power 4 is 16
2 raise to power 5 is 32
2 raise to power 6 is 64
2 raise to power 7 is 128
2 raise to power 8 is 256
2 raise to power 9 is 512

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

Q1. Write a python program to create a Queue1 of size 8 with the combination of –ve and +ve elements. Find –ve elements in the Queue1 and insert it to another Queue2 after converting it to +ve value.

In [ ]:
def enque(queue,val):
    if val not in queue:
        queue.append(val)
        return True
    return False

def deque(queue):
    if len(queue)>0:
        return queue.pop(0)
    return print("Queue is Empty")

def size(queue):
    return len(queue)

queue1=[]
for i in range(8,0,-1):
    element=int(input("Enter Element:"))
    enque(queue1,element)
print(queue1)

queue2=[]
def neg2pos(queue1,queue2):
    front=queue1[0]
    if front<0:
        front=0-front
        enque(queue2,front)
        deque(queue1)
    else:
        deque(queue1)
    return queue2

while len(queue1)>0:
    neg2pos(queue1,queue2)
print(queue2)

Enter Element:3
Enter Element:-2
Enter Element:6
Enter Element:-1
Enter Element:-7
Enter Element:4
Enter Element:8
Enter Element:2
[3, -2, 6, -1, -7, 4, 8, 2]
[2, 1, 7]

Q2. Write  a  python  program to  take  create  a  stack. Display  the  even  numbers present in the stack.

In [ ]:
def push(stack, x):
    stack.append(x)
    print("push {} in stack".format(element))
def pop(stack):
    if len(stack)>0:
        return stack.pop()
    else:
        return print("stack is empty")
def isempty(stack):
    return len(stack) == 0
def top(stack):
    if(isempty(stack)):
        print("empty")
    return stack[len(stack)-1]

stack =[]
len1 = int(input("enter len of stack: "))
for i in range(len1, 0, -1):
    x = int(input("enter number: "))
    push(stack, x)
    print(stack)
def even(stack):
    t= top(stack)
    if t == -1:
        print("stack is empty")
    if t%2 ==0:
        print(t, end =" ")
        pop(stack)
    pop(stack)
while len(stack)!=0:
    even(stack)

enter len of stack: 5
enter number: 8
push 2 in stack
[8]
enter number: 23
push 2 in stack
[8, 23]
enter number: 5
push 2 in stack
[8, 23, 5]
enter number: 7
push 2 in stack
[8, 23, 5, 7]
enter number: 1
push 2 in stack
[8, 23, 5, 7, 1]
8 stack is empty

In [ ]:
print(chr(65))
print(ord('A'))

from datetime import datetime
print(datetime.now())

a=("python by me")
a.upper()

n=input("Enter your name: ")
print('Hello',n,'!!')

m=input("Enter a character: ")
print("ASCII Value for",m,"is",{ord(m)})

n=int(input("Enter a value: "))
print("Character for ASCII Value",n,'is',chr(n))

A
65
2021-12-15 14:51:45.675222
Enter your name: chinu
Hello chinu !!
Enter a character: I
ASCII Value for I is {73}
Enter a value: 75
Character for ASCII Value 75 is K

In [ ]:
s=input("Enter your name: ")
print(s[:5]) #To get first 4 characters
print(s[::2]) #To get full string with jump of 1 character
print(s[::-1]) #To get full string in reverse order

Enter your name: Pratibha
Prati
Paih
ahbitarP

In [ ]:
city_name=input("Enter Comma separated city names: ")
l=list(city_name.split(","))
print(sorted(l))

Enter Comma separated city names: Delhi,Mumbai,Kota,Ambala,Srinagar
['Ambala', 'Delhi', 'Kota', 'Mumbai', 'Srinagar']

In [ ]:
names=input("Enter names: ")
nl=set(names.split(","))
print(sorted(nl))

Enter names: ram,priya,anuj,amy,ram
['amy', 'anuj', 'priya', 'ram']

In [ ]:
a=int(input("Enter 1st No.: "))
b=int(input("Enter 2nd No.: "))
c=int(input("Enter 3rd No.: "))
print(max(a,b,c))
print(min(a,b,c))
print((a+b+c)/3)

Enter 1st No.: 27
Enter 2nd No.: 45
Enter 3rd No.: 16
45
16
29.333333333333332

In [ ]:
x=int(input("Enter a number: "))
n=int(input("Enter power value: "))
a=x**n
print(a)

Enter a number: 5
Enter power value: 2
25

In [ ]:
f=float(input("Enter a number: "))
print(round(f,2))

Enter a number: 5.7878787878
5.79

In [ ]:
import math
p=int(input("Enter perpendicular: "))
b=int(input("Enter base: "))
h=math.sqrt(p**2+b**2)
hy=round(h,2)
print("Hypotenuous is: ",hy)

Enter perpendicular: 5
Enter base: 4
Hypotenuous is:  6.4

In [ ]:
f=int(input("Enter Fahrenheit temperature: "))
c=round((f-32)*(5/9),2)
print("Celcius temperature is: ",c)

Enter Fahrenheit temperature: 54
Celcius temperature is:  12.22

In [ ]:
s=input("Enter a string: ")
vowel='aeiouAEIOU'
if s[0] in vowel:
  print("Valid Input")
else:
  print("Invalid")

q=input("Enter string: ")
if q[0]==q[-1]:
  print("Valid")
else:
  print("Invalid")

Enter a string: onion
Valid Input
Enter string: momiom
Valid

In [ ]:
l=int(input("Enter length: "))
b=int(input("Enter breadth: "))
if l==b:
  print("It's a Square")
else:
  print("It's a rectangle")

Enter length: 7
Enter breadth: 8
It's a rectangle

In [ ]:
n=int(input("Enter a number: "))
if n%2==0:
  print("It's Even")
else:
  print("Odd number")

Enter a number: 9
Odd number

In [ ]:
a1=int(input("Enter 1st angle: "))
a2=int(input("Enter 2nd angle: "))
a3=int(input("Enter 3rd angle: "))
if (a1+a2+a3)==180:
  print("Forms a Triangle")
else:
  print("Not a triangle")

Enter 1st angle: 75
Enter 2nd angle: 25
Enter 3rd angle: 80
Forms a Triangle

In [ ]:
ann_sal=int(input("Enter salary: "))
if ann_sal<250000:
  tax=0
elif ann_sal<500000:
  tax=ann_sal*(5/100)
elif ann_sal<1000000:
  tax=12500+((ann_sal-500000)*20/100)
else:
  tax=112500+((ann_sal-1000000)*30/100)
print("Tax on the mentioned salary is: ",tax)

Enter salary: 750000
Tax on the mentioned salary is:  62500.0

In [ ]:
a,b,c=int(input()),int(input()),int(input())
if a+b+c!=180:
  print("Angles doen't form a triangle")
else:
  if a>90 or b>90 or c>90:
    print("It's an Obtuse angled triangle")
  elif a==b==c==60:
    print("equilateral triangle")
  elif a==b or b==c or a==c:
    print("isoceles")
  else:
    print("Pass")

50
50
80
isoceles

In [ ]:
l=[1,4.5,5j,99,'Amy',15451546847685168768516874]
for i in l:
  print(type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
l=[10,20,30,40,50]
sum=0
for i in l:
  sum=sum+i
print("Sum of list is: ",sum)
print("Average of list is: ",sum/len(l))

Sum of list is:  150
Average of list is:  30.0

In [ ]:
l=[21,37,55,46,75,99,35,23,26]
l1=[]
for i in l:
  if i<40:
    l1.append(i)
print("Result is: ",l1)

Result is:  [21, 37, 35, 23, 26]

In [ ]:
l=[2,'go',8,'SARC',10,'VITAP',41,0.5]
l1=[]
for i in l:
  if isinstance(i,str):
    l1.append(i)
print("Strings are: ", l1)

Strings are:  ['go', 'SARC', 'VITAP']

In [ ]:
l=['go,','mom','nike','adi','jio','idea','voda','mine']
for i in l:
  print(i,'-',i[::-1])

m=[2,4,6,8,10]
for j in reversed(m): #it will NOT reverse the list permanently
  print(j)

m.reverse() #it will reverse the list permanently

go, - ,og
mom - mom
nike - ekin
adi - ida
jio - oij
idea - aedi
voda - adov
mine - enim
10
8
6
4
2

In [ ]:
l=[2,45,78,9,61,41,7,13,550,250]
#Changes permanentaly
#l.sort()
#l.reverse()
#print(l)

for i in reversed(sorted(l)):
  print(i,end=' ')

m=[1,2,3,7,8,7,9,7,14,6,5,10,3]
for i in m:
  if i==7:
    m.remove(7)
print('\n',m)

550 250 78 61 45 41 13 9 7 2
 [1, 2, 3, 8, 9, 14, 6, 5, 10, 3]

In [ ]:
m=[1,2,3,7,8,7,9,7,14,6,5,10,3]
for i in m:
  print(i,'-',i**2)

1 - 1
2 - 4
3 - 9
7 - 49
8 - 64
7 - 49
9 - 81
7 - 49
14 - 196
6 - 36
5 - 25
10 - 100
3 - 9

In [ ]:
d={i:0 for i in 'aeiouAEIOU'}
s=input("Enter a string: ")
for i in s:
  if i in d:
    d[i]=d[i]+1
print(d)

Enter a string: Indian
{'a': 1, 'e': 0, 'i': 1, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 1, 'O': 0, 'U': 0}

In [ ]:
l=['python','html','css','java','java','jsQuery','pandas','numpy','python','html','css','java','python','jsQuery','pandas','numpy']
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{'python': 3, 'html': 2, 'css': 2, 'java': 3, 'jsQuery': 2, 'pandas': 2, 'numpy': 2}

In [ ]:
for i in range(1,11):
  print(i,'-',i**2)

for j in range(32,58):
  if j%2==0:
    print(j,end=' ')

sum=0
for k in range(1,20):
  if k%2!=0:
    sum=sum+k
print('\n',"Sum of odd numbers between 1 to 20 is: ",sum)

1 - 1
2 - 4
3 - 9
4 - 16
5 - 25
6 - 36
7 - 49
8 - 64
9 - 81
10 - 100
32 34 36 38 40 42 44 46 48 50 52 54 56
 Sum of odd numbers between 1 to 20 is:  100

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,11):
  print(f'{n}*{i} = {n*i}')

Enter a number: 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

In [ ]:
n=int(input("Enter a number: "))
f=1
for i in range(1,n+1):
  f=f*i
print(f'Factorial for given number {n} is {f}')

Enter a number: 10
Factorial for given number 10 is 3628800

In [ ]:
n=int(input("Enter a number to check if it's prime or not: "))
f=True
for i in range(2,n//2+1):
  if n%i==0:
    f=False
    break
if f:
  print(f'{n} is a prime number')
else:
  print(f'{n} is not a prime number')

Enter a number to check if it's prime or not: 17
17 is a prime number

In [ ]:
n=int(input("Enter a number: "))
f,l=0,1
print(f)
print(l)
for i in range(2,n):
  next=f+l
  print(next)
  f=l
  l=next

Enter a number: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n+1):
    print('*'*i)

Enter a number: 5
*
**
***
****
*****

In [ ]:
n=int(input("Enter a number: "))
for i in range(n,0,-1):
  print('*'*i)

Enter a number: 5
*****
****
***
**
*

In [ ]:
s=' '
for i in 'India':
  s=s+i
  print(s)

 I
 In
 Ind
 Indi
 India

In [ ]:
for i in range(1,11):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,10):
  for j in range(1,i+1):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
def square(n):
  return n**2
l=[2,3,5,7,8,10,9]
print(list(map(square,l)))

[4, 9, 25, 49, 64, 100, 81]

In [ ]:
def rev(s):
  return s[::-1]
l=['hospital','crisis','covid19','home','papa']
print(list(map(rev,l)))

['latipsoh', 'sisirc', '91divoc', 'emoh', 'apap']

In [ ]:
def simp_int(p,r,t):
  return p*r*t/100
P=[1000,2000,5000,8000,20000]
R=[8.5]*5
T=[3,4,2,2,1]
print(list(map(simp_int,P,R,T)))

[255.0, 680.0, 850.0, 1360.0, 1700.0]

In [ ]:
def concatenate(x,y):
  return x+' '+y
fn=['mahendra','virat','rohit','hardik','harry','ron']
ln=['singh','kohli','sharma','pandya','potter','weasley']
print(list(map(concatenate,fn,ln)))

['mahendra singh', 'virat kohli', 'rohit sharma', 'hardik pandya', 'harry potter', 'ron weasley']

In [ ]:
l=range(1,31)
def even(n):
  if n%2==0:
    return n
print(list(filter(even,l)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
l=range(1,501)
def armstrong(n):  #Armstrong no.: 153 (1^3+5^3+3^3=153)
  sum=0
  for i in str(n):
    sum=sum+int(i)**3
  if sum==n:
    return n
print(list(filter(armstrong,l)))

[1, 153, 370, 371, 407]

In [ ]:
l=['mom','cook','dad','naman','ram']
def palin(s):
  if s==s[::-1]:
    return s
print(list(filter(palin,l)))

['mom', 'dad', 'naman']

In [ ]:
l=['mom','cook','dad','naman','ram','mummy','avni','liril','pear']
def end(s):
  if s[0]==s[-1]:
    return s
print(list(filter(end,l)))

['mom', 'dad', 'naman', 'liril']

Geeks for Geeks practice

In [ ]:
def mul_sum(n1,n2):
  prod=n1*n2
  if prod<=1000:
    return prod
  else:
    return n1+n2
result=mul_sum(20,30)
print("The result is: ", result)
result=mul_sum(30,40)
print("The result is: ", result)

The result is:  600
The result is:  70

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
n=0
for i in range(1,11):
  s=n+i
  print("Current no. ",i,"previous no. ",n,"& Sum is: ",s)
  n=i

Printing current and previous number and their sum in a range(10)
Current no.  1 previous no.  0 & Sum is:  1
Current no.  2 previous no.  1 & Sum is:  3
Current no.  3 previous no.  2 & Sum is:  5
Current no.  4 previous no.  3 & Sum is:  7
Current no.  5 previous no.  4 & Sum is:  9
Current no.  6 previous no.  5 & Sum is:  11
Current no.  7 previous no.  6 & Sum is:  13
Current no.  8 previous no.  7 & Sum is:  15
Current no.  9 previous no.  8 & Sum is:  17
Current no.  10 previous no.  9 & Sum is:  19

In [ ]:
s=input("Enter a String: ")
size=len(s)
for i in range(0,size-1,2):
  print(i,s[i])

Enter a String: pytnativr
0 p
2 t
4 a
6 i

In [ ]:
s=input("Enter a string: ")
x=list(s)
for i in x[0::2]:
  print(i)

Enter a string: Pratibha
P
a
i
h

In [ ]:
for num in range(10, 14):
   for i in range(2, num):
       if num%i == 1:
          print(num)
          break

10
11
12
13

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i*j,end=' ')
  print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
n=int(input("Enter the code of the product: "))
mul=1
while n>0:
  rem=n%10
  mul=mul*rem
  n=n//10
print("Price of the product is: ", mul)

Enter the code of the product: 2578
Price of the product is:  560

In [ ]:
n=int(input("Enter a number: "))
j=0
L=[0 for i in range(n)]
for i in range(n):
  a=int(input())
  if a!=0:
    L[j]=a
    j+=1

for i in L:
  print(i,end="")

Enter a number: 5
7
8
0
1
2
78120

In [ ]:
import math
n=int(input())
k=(1<<int(math.log2(n))+1)-1
print(n^k)

1010
13

In [ ]:
items=int(input("Enter number of items: "))

Enter number of items: 6

In [ ]:
price_lst=list(map(int, input().strip().split()))
dist_lst=list(map(int, input().strip().split()))
sku_lst=list(map(int, input().strip().split()))
result=[]

87
3
7

In [ ]:
for i in range(0, len(sku_lst)):
  if sku_lst[i]>0:
    result.append(price_lst[i]*dist_lst[i])

print(" ".join(str(items) for items in result))

261