1. Write a Python program to print the following string in a specific format (see the output).
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [1]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

2. Write a Python program to get the Python version you are using

In [2]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

In [ ]:
!python --version

3. Write a Python program to display the current date and time.

In [3]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ",now)

Current date and time :  2022-08-26 11:41:09.737084

4. Write a Python program which accepts the radius of a circle from the user and compute the area

In [7]:
import numpy as np
def areaofcircle(radius):
    radius=float(input('Enter the radius of Circle:'))
    area=np.pi *radius*radius
    return area

In [8]:
areaofcircle(1.5)

Enter the radius of Circle:5

78.53981633974483

5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [13]:
def reversethestring():
    first_name=input('Enter your first name :')
    last_name=input('Enter your last name :')
    return last_name[::-1],first_name[::-1]

In [12]:
reversethestring()

Enter your first name :Mayur
Enter your last name :Korde

('edroK', 'ruyaM')

In [4]:
## Another way 
f_name = input("Input your First Name : ")
l_name = input("Input your Last Name : ")
print ("Hello  " + l_name + " " + f_name)

Input your First Name : kajal
Input your Last Name : rahate
Hello  rahate kajal

6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list  with those numbers

In [15]:
values = input("Input some comma seprated numbers : ")
list1 = values.split(",")
print(list1)

Input some comma seprated numbers : 5,5,6
['5', '5', '6']

7. Write a Python program to accept a filename from the user and print the extension of that

In [17]:
file_name=input('Enter the name of file :')
a=file_name.split('.')
print(a[1])

Enter the name of file :abc.data
data

8. Write a Python program to display the first and last colors from the following list
color_list = ["yellow","Green","grey" ,"orange"]

In [18]:
color_list = ["yellow","Green","grey" ,"orange"]
print(color_list[0])
print(color_list[-1])

yellow
orange

9. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

In [21]:
x = int(input("Input an integer : "))
n1 = int( "%s" % x )
n2 = int( "%s%s" % (x,x) )
n3 = int( "%s%s%s" % (x,x,x) )
print(n1)
print(n2)
print(n3)
print (n1+n2+n3)

Input an integer : 4
4
44
444
492

10.Write a program to demonstrate different number data types in Python.

In [26]:
a=True
b=12
c=34.56
d='Data sciience'
print('The datatype of a is ',type(a))
print('The datatype of b is ',type(b))
print('The datatype of c is ',type(c))
print('The datatype of d is ',type(d))

The datatype of a is  <class 'bool'>
The datatype of b is  <class 'int'>
The datatype of c is  <class 'float'>
The datatype of d is  <class 'str'>

11. Python Program to find sum of array

In [13]:
import numpy as np

In [31]:
def sumofarray(b):
    add=0
    for i in b:
        add=add+i
    return add

In [32]:
sumofarray(([1,2,3]))

6

In [33]:
array=np.array([1,2,3])
def sum_array():
    return sum(array)

In [34]:
sum(array)

6

12.Write a program to create, concatenate and print a string and
 accessing sub-string from a given string

In [36]:
s1=input('Enter the first string')
s2=input('Enter the second string')
print('The first string entered is',s1)
print('The second string entered is ',s2)
print('concatenation of two entered string',s1+s2)
print('Substring of s1',s1[1:3])
print('substring of s2',s2[2:3])

Enter the first stringmayur
Enter the second stringkorde
The first string entered is mayur
The second string entered is  korde
concatenation of two entered string mayurkorde
Substring of s1 ay
substring of s2 r

13.Create and explain the working of  tuple.

14.Write a python program to find largest of three numbers.

In [37]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
num3=float(input('Enter third number'))

if (num1>=num2) and (num1>=num3):
    print('The highest number is',num1)
elif (num2>=num1) and (num2>=num3):
    print('The highest number is ',num2)
else:
    print('The higest number is ',num3)

Enter first number1
Enter second number2
Enter third number3
The higest number is  3.0

15.Write a Python program to convert temperatures to and from Celsius,
 Fahrenheit. [ Formula: c = (f-32)(5/9)]

In [38]:
temp=float(input('Enter temprature'))
unit=input('Enter unit')

if unit=='C' or unit=='c':
    newtemp=9/5*temp+32
    print('Temprature in ferenhite is',newtemp)
elif unit=='F' or unit=='f':
    newtemp=5/9*(temp-32)
    print('Temparture is celsius is',newtemp)
else:
    print('unknown unit passed')

Enter temprature45
Enter unitc
Temprature in ferenhite is 113.0

    16. Write a Python program to construct the following pattern, using a
     nested for loop

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
max = int(input("Enter the number :"))
for i in range(0,max):
    print("* "*i)
for i in range(max,0,-1):
    print("* "*i)

Enter the number :5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

17.Write a program that accepts the lengths of three sides of a triangle
as inputs. The program output should indicate whether or not the triangle
is a right triangle (Recall from the Pythagorean Theorem that in a right
triangle, the square of one side equals the sum of the squares of the
other two sides).

In [45]:
base=float(input('Enter the base of triangle:'))
height=float(input('Enter the height of triangle:'))
hypo=float(input('Enter the hypo of triangle:'))
if hypo**2==((base**2)+(height**2)):
    print('Entered dimensions of right angle triangle')
else:
    print('The trianle is not right angled triganle')

Enter the base of triangle:4
Enter the height of triangle:4
Enter the hypo of triangle:4
The trianle is not right angled triganle

18. Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

In [16]:
def sumofnum(num):
    previousnum=0
    for i in range(num):
        sum=previousnum+i
        print('The current number is:',i ,'Previous numbers:',previousnum,'Sum is:',sum)
        previousnum=i

In [17]:
sumofnum(20)

The current number is: 0 Previous numbers: 0 Sum is: 0
The current number is: 1 Previous numbers: 0 Sum is: 1
The current number is: 2 Previous numbers: 1 Sum is: 3
The current number is: 3 Previous numbers: 2 Sum is: 5
The current number is: 4 Previous numbers: 3 Sum is: 7
The current number is: 5 Previous numbers: 4 Sum is: 9
The current number is: 6 Previous numbers: 5 Sum is: 11
The current number is: 7 Previous numbers: 6 Sum is: 13
The current number is: 8 Previous numbers: 7 Sum is: 15
The current number is: 9 Previous numbers: 8 Sum is: 17
The current number is: 10 Previous numbers: 9 Sum is: 19
The current number is: 11 Previous numbers: 10 Sum is: 21
The current number is: 12 Previous numbers: 11 Sum is: 23
The current number is: 13 Previous numbers: 12 Sum is: 25
The current number is: 14 Previous numbers: 13 Sum is: 27
The current number is: 15 Previous numbers: 14 Sum is: 29
The current number is: 16 Previous numbers: 15 Sum is: 31
The current number is: 17 Previous numbers: 16 Sum is: 33
The current number is: 18 Previous numbers: 17 Sum is: 35
The current number is: 19 Previous numbers: 18 Sum is: 37

19.Given a string, display only those characters which are present at an even index number.

In [48]:
def printEveIndexChar(str):
    for i in range(0, len(str), 2):
        print("index[",i,"]", str[i] )

inputStr = "shubhangi" 
print("Orginal String is ", inputStr)

print("Printing only even index chars")
printEveIndexChar(inputStr)

Orginal String is  shubhangi
Printing only even index chars
index[ 0 ] s
index[ 2 ] u
index[ 4 ] h
index[ 6 ] n
index[ 8 ] i

20.Return the count of sub-string “Shubhangi” appears in the given string

In [ ]:
str = "Shubhangi is good developer. Shubhangi is a Data Scientist"

In [ ]:
cnt = str.count("Shubhangi")
print(cnt)

21.Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

In [19]:
## Function to remove duplicates from given list
def listduplicate(x):
    y = []
    for i in x:
        if i not in y:
            y.append(i)
    return y

In [56]:
y = []
x = [1,1,2,3,3,44,44]
for i in x:
    if i not in y:
        y.append(i)
print(y)

[1, 2, 3, 44]

In [20]:
listduplicate([1,1,2,3,4,4])

[1, 2, 3, 4]

In [21]:
#this one uses sets
def v2(x):
    return list(set(x))

In [22]:
v2([1,1,2])

[1, 2]

22.Print multiplication table of 12 using recursion

In [23]:
def table(n,i):
    print(n*i)
    i=i+1
    if i<=10:
        table(n,i)

In [24]:
table(20,1)

20
40
60
80
100
120
140
160
180
200

23. Write a function to calculate area and perimeter of a rectangle.

In [57]:
def rectangle(a,b):
    print('The area of given rectangle is:' ,a*b)
    print('The perimeter of given rectangle is:',2*(a+b))

In [58]:
rectangle(12,2)

The area of given rectangle is: 24
The perimeter of given rectangle is: 28

24.Write a function to calculate area and circumference of a circle

In [61]:
def circle():
    import numpy as np
    radius=float(input('Enter the radius of circle'))
    area=np.pi*radius*radius
    cir = 2 * np.pi*radius
    return area, cir

In [62]:
circle()

Enter the radius of circle5

(78.53981633974483, 31.41592653589793)

25.Write a function to calculate power of a number raised to other

In [63]:
def powerof(n,p):
    power=n**p
    return power

In [64]:
powerof(2,3)

8

26.Write a function to tell user if he/she is able to vote or not.

In [65]:
age=float(input('Enter your age'))
if age >=18:
    print('You are eligible to vote')
else:
    print('Not eligible to vote')

Enter your age20
You are eligible to vote

27.Write a function “perfect()” that determines if parameter number is a perfect number. Use this function in a program that determines and prints all the perfect numbers between 1 and 1000.
[An integer number is said to be “perfect number” if its factors, including 1(but not the number itself), sum to the number. E.g., 6 is a perfect number because 6=1+2+3].

####

In [34]:
4 //3

1

In [69]:

def find_factors(num):
    if num//2 > 2:
        added = False
        for i in range(2,num//2,1):
            if num % i != 0:
                continue
            factors.append(i)
            added = True
            break
        if(added):
            find_factors(int(num//i))
        else:
            factors.append(num)
    else:
        factors.append(num)

In [82]:
def find_perfect(num):
    factorials = []
    for i in range(1,num//2+1):
        if num%i == 0:
            factorials.append(i)
    if sum(factorials) == num:
        return(True)
    else:
        return(False)

In [102]:
5//3

1

In [83]:
find_perfect(6)

False

In [68]:
n = int(input('Enter number :'))
add = 0
for i in range(1, n):
    if n % i == 0:
        add = add + i
if add == n:
    print('Perfect no')
else:
    print("Not Perfect no")

Enter number :5
Not Perfect no

In [36]:
for i in range(1,10000):
    if find_perfect(i):
        print(i)

6
28
496
8128

In [32]:
for i in range(1000):
    factors = [1]
    find_factors(i)
    if sum(factors) == i:
        print(i)

6

In [ ]:

fi(28)

In [ ]:
num = mainNum
factors = []

In [39]:
def perfect(n):
    sum=0
    for i in range(n,1):
        if n%i == 0:
            sum=sum+i
    if sum==n:
        return True
    else:
        return False

In [40]:
for i in range(1,1001):
    if perfect(i):
        print(i)

28.Write a function to check if a number is even or not.

In [ ]:
def even():
    n=int(input('Enter the number'))
    if n%2 == 0:
        print('The given number is even')
    else:
        print('Odd number')

In [ ]:
even()

29.Write a function to check if a number is prime or not

In [ ]:
def odd():
    n=int(input('Enter the number'))
    if n%2 != 0:
        print('The given number is odd')
    else:
        print('Even number')

In [ ]:
odd()

30.Given a list of numbers, return True if first and last number of a list is same

In [103]:
def isFirst_And_Last_Same(numberList):
    print("Given list is ", numberList)
    firstElement = numberList[0]
    lastElement = numberList[-1]
    if (firstElement == lastElement):
        return True
    else:
        return False

numList = [10, 20, 30, 40, 10]
print("result is", isFirst_And_Last_Same(numList))

Given list is  [10, 20, 30, 40, 10]
result is True

31. Write a program to check if each word in a string begins with a capital letter?

In [41]:
print( 'The Hilton'.istitle() ) 
print( 'The dog'.istitle() ) 
print( 'sticky rice'.istitle() )

True
False
False

32. Write a program to Check if a string contains a specific substring

In [104]:
print( 'plane' in 'The worlds fastest plane' ) #=> True
print( 'car' in 'The worlds fastest plane' ) #=> False

True
False

33. Capitalize the first character of a string

In [105]:
'florida dolphins'.capitalize()

'Florida dolphins'

34. Reverse the string “hello world”

In [42]:
''.join(reversed("hello world"))

'dlrow olleh'

In [107]:
("hello world")[::-1]

'dlrow olleh'

35. Remove vowels from a string

In [43]:
string = 'Hello 1 World 2'
vowels = ('a','e','i','o','u')
''.join([c for c in string if c not in vowels])

'Hll 1 Wrld 2'

In [114]:
import re
v = re.findall('[^aeiou,]', 'Hello World')
v

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [116]:
string= 'prepinsta'
vowel=['a','e','i','o','u']
result=''
for i in range(len(string)):
    if string[i] not in vowel:
        result=result+string[i]
print(result)

prpnst

36. Iterate through a string Using for Loop.

In [110]:
h_letters = []

for letter in 'shubhangi':
    h_letters.append(letter)

print(h_letters)

['s', 'h', 'u', 'b', 'h', 'a', 'n', 'g', 'i']

37. Iterate through a string Using List Comprehension

In [44]:
h_letters = [ letter for letter in 'shubhangi' ]
print( h_letters)

['s', 'h', 'u', 'b', 'h', 'a', 'n', 'g', 'i']

38. Transpose of Matrix using Nested Loops

In [48]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

39. Write a program to check whether a number is divisible by 7 or not.

In [111]:
num=int(input("Enter your age"))
if num%7==0:
   print("Number is divisible")
else:
   print("Number is not divisible")

Enter your age6
Number is not divisible

40. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [ ]:
amt=0
nu=int(input("Enter number of electric unit"))
if nu<=100:
     amt=0
if nu>100 and nu<=200:
     amt=(nu-100)*5
if nu>200:
     amt=500+(nu-200)*10
print("Amount to pay :",amt)

In [ ]:
unit=int(input("enter unit"))
if 0<unit<=100:
    print("input unit is",unit,"then total bill amount is chargless")
if 100<unit<=200:
    unit1=(unit-100)*5
    print("input unit is",unit,"then total bill amount is",unit1)
if unit>200:
    unit2=500+(unit-200)*10
    print("input unit is",unit,"then total bill amount is",unit2)

41. Write a program to display the last digit of a number.
(hint : any number % 10 will return the last digit)

In [121]:
num=int(input("Enter any number :"))
print("Last digit of number is ",num%10)

Enter any number :67
Last digit of number is  7

42. Write a program to check whether an years is leap year or not.

In [123]:
yr=int(input("Enter the year:"))
if yr%100==0:
    if yr%400==0:
          print("Entered year is leap year")
    else:
          print("Entered year is not a leap year")
else:
    if yr%4==0:
         print("Entered year is leap year")  
    else:
        print("Entered year is not a leap year")

Enter the year:1993
Entered year is not a leap year

43. Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on.

In [125]:
num=int(input("Enter any number between 1 to 7 : "))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
    print("Wednesday")
elif num==5:
    print("Thursday")
elif num==6:
    print("Friday")
elif num==7:
    print("Saturday")
else:
    print("Please enter number between 1 to 7")

Enter any number between 1 to 7 : 7
Saturday

44. Write a program to check whether a number entered is three digit number or not.

In [131]:
num1 = (input("Enter any number :"))
l=len(num1)
if l != 3:
     print("Entered number is not 3 digit")
else:
     print("Entered number is 3 digit and Middle digit is ", (int(num1)%100//10))

Enter any number :456
Entered number is 3 digit and Middle digit is  5

In [134]:
(552)%100//10

5

In [49]:
num=int(input("enter any number"))
if 99<num<=999:
    print("Entered number is of three digit")
else:
    print("entered number is not 3 digit")

enter any number100
Entered number is of three digit

45. Write a program to check whether a number (accepted from user) is positive or negative..

In [135]:
num1 = int(input("Enter first number"))
if num1 > 0 :
    print("Number is positive")
else:
    print("Number is negative")

Enter first number5
Number is positive

46. Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.

In [136]:
num1 = int(input("Enter first number"))
if num1%2==0 and num1%3==0:
      print("Number is divisible by 2 and 3 both")
else:
      print("Number is not divisible by both 2 and 3")

Enter first number8
Number is not divisible by both 2 and 3

47. Write a Python program to check the validity of a password (input from users).

Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [137]:
import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>16):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Input your passwordmyr9988@#
Not a Valid Password

In [ ]:
p=input("input password :")
x=True
while x:
    if 6<len(p)<16:
        continue
    elif re.search("[a-z]",p):
        continue
    elif re.search("[A-Z]",p):
        continue
    elif re.search("[0-9]",p):
        continue
    elif re.search("[$#@]",p):
        print("valid password")
        break
if x :
    print("invalid")

48. Write a Python program to print alphabet pattern 'A'.

  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *

In [2]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

49. Write a Python program to print alphabet pattern 'G'.

In [3]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if ((column == 1 and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5) or (row == 3 and column > 2 and column < 6) or (column == 5 and row != 0 and row != 2 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

50. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.
Expected Output:

Input a dog's age in human years: 15                                    
The dog's age in dog's years is 73

In [143]:
h_age = int(input("Input a dog's age in human years: "))

if h_age < 0:
    print("Age must be positive number.")
    exit()
elif h_age <= 2:
    d_age = h_age * 10.5
else:
    d_age = 21 + (h_age - 2)*4

print("The dog's age in dog's years is", d_age)

Input a dog's age in human years: 12
The dog's age in dog's years is 61

In [160]:
n = int(input("Enter the number :"))
for i in range(n):
    print(('*' + ' ')*(n-i))

Enter the number :5
* * * * *
* * * *
* * *
* *
*

In [192]:
n = int(input("Enter the number :"))
for i in range(n):
    print((' ')*(i)+('*')*(n-i))

Enter the number :5
*****
 ****
  ***
   **
    *

In [161]:
n = int(input("Enter the number :"))
for i in range(n):
    print(('*' + ' ')*(i + 1))

Enter the number :5
*
* *
* * *
* * * *
* * * * *

In [302]:
n = int(input("Enter the number :"))
for i in range(n):
    print((str(1 + i) + ' ')*(i + 1))

Enter the number :5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [164]:
#Program to print Right Half Pyramid
num_rows = int(input("Enter the number of rows"));
k = 8
for i in range(0, num_rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i+1):
        print("* ", end="")
    print()

Enter the number of rows5
        *
      * *
    * * *
  * * * *
* * * * *

In [237]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(69-i) + ' ')*(n - i))

Enter the number :5
E E E E E
D D D D
C C C
B B
A

In [193]:
print("Full Pyramid Pattern of Stars (*): ")
for i in range(5):
    for s in range(-6, -i):
        print(" ", end="")
    for j in range(i+1):
        print("* ", end="")
    print()

Full Pyramid Pattern of Stars (*):
      *
     * *
    * * *
   * * * *
  * * * * *

In [204]:
# pyramid star pattern
n = int(input("Enter the number :"))
for i in range(n):
    print(' ' * (n - 1 - i) + ('*' + ' ') * (i+1))

Enter the number :5
    *
   * *
  * * *
 * * * *
* * * * *

In [206]:
# pyramid star pattern
n = int(input("Enter the number :"))
for i in range(n):
    print(' ' * (i) + ('*' + ' ') * (n-i))

Enter the number :5
* * * * *
 * * * *
  * * *
   * *
    *

In [207]:
rows = int(input("Please Enter the Total Number of Rows  : "))
ch = input("Please Enter any Character  : ")

print("Right Angled Triangle Star Pattern") 
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('%c' %ch, end = '  ')
    print()

Please Enter the Total Number of Rows  : 5
Please Enter any Character  : A
Right Angled Triangle Star Pattern
A
A  A
A  A  A
A  A  A  A
A  A  A  A  A

In [217]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(65+i) + ' ')*(i + 1))

Enter the number :5
A
B B
C C C
D D D D
E E E E E

In [235]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(69-i) + ' ')*(n - i))

Enter the number :5
E E E E E
D D D D
C C C
B B
A

In [236]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(64 + n - i) + ' ')*(n - i))

Enter the number :5
E E E E E
D D D D
C C C
B B
A

In [ ]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(65+i) + ' ')*(i + 1))

In [218]:
n = int(input("Enter the number :"))
for i in range(n):
    print((chr(65) + ' ')*(i + 1))

Enter the number :6
A
A A
A A A
A A A A
A A A A A
A A A A A A

In [219]:
# Number of rows
rows = 8

# Outer loop to handle the rows
for i in range(rows):
    
    # Inner loop to handle the columns
    for j in range(i + 1):
        ch = chr(65+i)
        # Printing the pattern
        print(ch, end=' ')
    
    # Next Line
    print()

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H

In [227]:
n = int(input("Enter the number :"))
for i in range(n):
    print((' ')*(n-i) + (chr(65+i))*(i+1))

Enter the number :5
     A
    BB
   CCC
  DDDD
 EEEEE

In [256]:
n = int(input("Enter the number :"))
for i in range(n):
    print(((' ') * (i + 1) + ('*' + ' ') * (n-i)))

Enter the number :5
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *

In [294]:
n=int(input("Enter number of rows: "))
for i in range (n):
    print((' ' * (i * 2)) + (' *' * (n - i)))

Enter number of rows: 5
 * * * * *
   * * * *
     * * *
       * *
         *